.head {
  width: 100%;
  border-bottom: 2px solid #c10d0c;
  align-items: center;
}
.title {
  font-size: 1.3em;
}
.box {
  flex: 1;
  align-items: center;
}
.icon {
  width: 16px;
  height: 16px;
  background: url('/WEB-TSX/image/index.png') no-repeat;
  background-position: 0px -240px;
}
.to {
  color: #666;
  font-size: 0.9em;
  cursor: pointer;
}
.img {
  width: 16px;
  height: 16px;
  background: url('/WEB-TSX/image/index.png') no-repeat;
  background-position: -234px -163px;
  margin-left: 8px;
  margin-right: 8px;
}
div {
  display: flex;
}
